<html>
    <head>
        <title> Incorrect Password </title>
        <script>
            confirm("Incorrect Password")
            window.location.replace("/room/<%= roomID %>")
        </script>
    </head>
</html>