<section>
    <h2>Create your own room</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-password">Type a password</label>
        <input type="password" name="password" id="room-password" placeholder="Type a password">
        <button class="button"><img src="images/buttonsIcons/Button/white-users-icon.svg" alt="Create Room">Create Room</button>
    </form>
</section>
