<section>
    <h2>Enter as participant</h2>
    <form action="/enterroom" method="POST">
        <label class="sr-only" for="room-id">Room's Code</label>
        <input type="number" name="roomID" id="room-id" placeholder="Room's Code">
        <button class="button"><img src="images/buttonsIcons/Button/white-login-icon.svg" alt="Entrar na sala">Join Room</button>
    </form>
</section>
<div class="separator">
    <div></div>
    <div>or</div>
    <div></div>
</div>
<section>
    <h2>Create your own room, with an easy way.</h2>
    <a href="/create-room" class="button outlined"><img src="images/buttonsIcons/Button/colored-users-icon.svg"/>Create Room</a>
</section>