<div class="noQuestions">   
    <img src="/images/no-questions-img.svg" alt="No questions">
    <p>No questions around here...</p>
    <p>Make your questions and send the room's <br> code to other persons.</p>
</div>